body {
  margin: 0;
  padding: 0;
}
h2{
  color: rgb(204, 203, 203);
}
.rightsidebar {
  margin:7px;
  width: 15%;
  height: 98%;
  background-color: #25232380;
  position: fixed;
  border-radius: 10px; 
  right: 0;
  top: 0;
}
.liftsidebar {
  margin:7px;
  width: 15%;
  height: 98%;
  background-color: #25232380;
  position: fixed;
  border-radius: 10px; 
  left: 0;
  top: 0;
}


.button {
  width: 95%;
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  bottom: 0;
}
#canvasContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0; /* Set the same background color as the webpage */
}
#input1 {

  background-color: rgba(156, 156, 167, 0.952);
  width: 64%;
  height: 28px;
  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px; 
  right: 0;
}
#value{
  width: 90%;
  /* background-color: rgba(67, 67, 78, 0.829); */
  border-radius: 10px;
  height: 30px;

}
.center-form {
  text-align: center;
  align-items: center;
}

.center-form form {
  display: inline-block;
  text-align: left;
}
.text {
  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px; 
  background-color: rgba(207, 205, 209, 0.308);
  font-size: x-large;
  border-width: 150 px;
}
.line{
  color: black;
}
p {
  color: rgb(255, 255, 255);
  font: bold;
}