/* ========== Global Styles ========== */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #001f3f, #0074D9); /* Deep Ocean Blue to Cerulean Blue */
    color: #ffffff;
    overflow: hidden;
    transition: background 0.5s ease;
}

* {
    box-sizing: border-box;
}

/* ========== Container Styles ========== */
.container {
    text-align: center;
    padding: 40px;
    background: rgba(0, 0, 51, 0.8); /* Darker Blue with slight opacity */
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
    max-width: 450px;
    margin: 0 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.container:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 51, 0.9);
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 0;
    font-size: 2.5em;
    color: #00aaff; /* Bright Sea Blue */
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    transition: color 0.3s ease;
}

h1:hover {
    color: #99d6ff; /* Lighter Blue */
}

p {
    font-size: 1.2em;
    margin: 15px 0;
    color: #d1ecff; /* Soft Blue-White */
    line-height: 1.6;
    transition: color 0.3s ease;
}

p:hover {
    color: #a3d7ff; /* Slightly lighter */
}

/* ========== Control Panel Styles ========== */
.control-panel {
    margin: 30px 0;
    padding: 20px;
    background: rgba(0, 0, 102, 0.7); /* Darker Blue for better contrast */
    border-radius: 15px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.control-panel:hover {
    background-color: rgba(0, 0, 102, 0.8);
    transform: translateY(-5px); /* Slight lift on hover */
}

.control-panel h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 0;
    color: #00aaff;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.control-panel h2:hover {
    color: #99d6ff; /* Lighter Blue */
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #d1ecff;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

label:hover {
    color: #a3d7ff; /* Slightly lighter */
}

/* Range Input Styles */
input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #00aaff;
    border: 3px solid #001f3f;
    border-radius: 50%;
    margin-top: -8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.4);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: #d1ecff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background-color: #99d6ff; /* Slightly darker blue */
}

/* ========== Button Styles ========== */
button {
    padding: 14px 35px;
    font-size: 1em;
    color: #001f3f;
    background-color: #00aaff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

button:hover {
    background-color: #0091cc; /* Slightly darker sea blue */
    transform: scale(1.07);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

button:active {
    transform: scale(0.97);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 5px rgba(0, 170, 255, 0.5);
}

.start-button {
    background-color: #002855;
    color: #ffffff;
}

.start-button:hover {
    background-color: #001f4d; /* Darker Ocean Blue */
}

/* ========== Modal Styles ========== */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    animation: fadeIn 0.4s ease-in-out;
}

.modal-content {
    background-color: #002855;
    color: #ffffff;
    margin: 15% auto;
    padding: 25px;
    border: 2px solid #00aaff;
    width: 80%;
    max-width: 450px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    font-size: 1.25em;
    animation: slideIn 0.4s ease-out;
}

.modal-content p {
    margin: 0;
    padding: 15px 0;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 1.6em;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.close:hover,
.close:focus {
    color: #00aaff;
    transform: scale(1.2);
    text-decoration: none;
}

/* ========== Animations ========== */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-60px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* ========== Responsive Styles ========== */
@media (max-width: 600px) {
    .container {
        padding: 30px 20px;
        max-width: 100%;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    button {
        padding: 12px 30px;
        font-size: 0.9em;
    }

    .modal-content {
        width: 90%;
        padding: 20px;
    }
}
